@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 30rem;

  /* Font family */
  --font-sans: "DM Sans", sans-serif;

  /* Font sizes */
  --text-5xl: 2.5rem;
  --text-7xl: 4rem;

  /* Light Mode Colors */
  --color-neutral-900: hsl(233, 18%, 9%);
  --color-neutral-800: hsl(235, 14%, 15%);
  --color-neutral-700: hsl(235, 13%, 19%);
  --color-neutral-600: hsl(234, 14%, 29%);
  --color-neutral-200: hsl(240, 26%, 92%);
  --color-neutral-100: hsl(240, 24%, 96%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Accent Colors */
  --color-purple-500: hsl(274, 90%, 73%);
  --color-purple-400: hsl(274, 90%, 80%);
  --color-yellow-500: hsl(37, 100%, 50%);
  --color-orange-800: hsl(15, 99%, 43%);
  --color-orange-500: hsl(15, 99%, 67%);

  /* Background Patterns */
  --bg-pattern-light: url("/images/bg-light-theme.png");
  --bg-pattern-dark: url("/images/bg-dark-theme.png");
}

.dark {
  /* Dark Mode Colors */
  --color-neutral-900: hsl(0, 0%, 100%);
  --color-neutral-800: hsl(240, 24%, 96%);
  --color-neutral-700: hsl(240, 26%, 92%);
  --color-neutral-600: hsl(234, 14%, 71%);
  --color-neutral-200: hsl(235, 13%, 19%);
  --color-neutral-100: hsl(235, 14%, 15%);
  --color-neutral-0: hsl(233, 18%, 9%);
}

/* Background Utilities */
.bg-pattern-light {
  background-image: var(--bg-pattern-light);
  background-size: cover;
  background-repeat: no-repeat;
}

.dark .bg-pattern-dark {
  background-image: var(--bg-pattern-dark);
  background-size: cover;
  background-repeat: no-repeat;
}
